<h1>About this project</h1>
<p>The aim is to build a simplified version of Pinterest using the <a href="https://www.udemy.com/ruby-on-rails-for-web-development/learn/v4/overview">Ruby On Rails Web Development Course</a></p>
<p>To build this I used the following tools and gems</p>
<ul>
    <li>Ruby Gems</li>
    <ul>
        <li><a href="https://rubygems.org/gems/devise">Devise 4.2.0</a> for login/authentication</li>
        <li><a href="https://rubygems.org/gems/paperclip">Paperclip 5.1.0</a> for image file handling</li>
        <li><a href="https://rubygems.org/gems/bootstrap-sass">Bootstrap-SASS</a> for front-end framework</li>
        <li><a href="https://rubygems.org/gems/aws-sdk">AWS-SDK 2.7.3</a> for image hosting</li>
        <li><a href="https://rubygems.org/gems/masonry-rails">Masonry-Rails 0.2.4</a> for cool transitions and resizing</li>
        <li><a href="https://rubygems.org/gems/will_paginate">Will-Paginate 3.1.5</a> for pagination</li>
    </ul>
    <li>Heroku for hosting</li>
    <li></li>
</ul>