<!-- <a href="/home/about">About Us</a> switching to embedded ruby version of the About Us link -->
<div class="jumbotron center">
    <h1>Welcome to my Pinterested App</h1>
   
    <p>pretty cool, eh?</p>
    
    <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
    <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>
</div>
